{% extends 'base.html' %}

{% block content %}



{% if accounts %}
    <h2>Accounts</h2>
    <table>
  <thead>
  <th>ID</th>
  <th>Name</th>
  <th>Balance</th>
  </thead>
    {% for account in accounts %}
         <tr>
              <td><a href="{% url 'accounts:account_detail' account.id %}">{{ account.id }}</a></td>
              <td>{{ account.name }}</td>
              <td>{{ account.balance }}</td>
         </tr>
    {% endfor %}


</table>

{% else %}
    <h2>No accounts exist</h2>
{% endif %}



{% endblock %}